@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar {
  width: 0.25rem;
  background: #748cab;
}
::-webkit-scrollbar-thumb {
  background: #748cab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.main-default {
  @apply min-h-screen bg-gradient-to-r from-dark-black to-dark-blue;
}

.button-global {
  @apply flex justify-center items-center p-2 rounded-lg h-16 outline-none mt-6 text-lg text-white bg-blue hover:bg-dark-blue hover:scale-105 transition-all;
}

// Table of Contents

.table-container {
  @apply relative overflow-x-auto shadow-md sm:rounded-lg;
}

.table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table-head {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

.table-head-th {
  @apply px-6 py-3;
}

.table-body-tr {
  @apply bg-white border-b dark:bg-gray-900 dark:border-gray-700;
}

.table-body-th {
  @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white;
}

// Rich input

.ql-toolbar.ql-snow {
  @apply border-none border-0 bg-white rounded-tl-md rounded-tr-md;
}

.ql-container {
  @apply bg-white rounded-bl-md rounded-br-md border-none min-h-[15rem] text-black border-0;
}

.ql-editor {
  @apply bg-white rounded-md border-none min-h-[20rem] text-black border-0;
}

// style components

.ql-syntax {
  @apply bg-dark-blue text-white text-base rounded-md border-none border-0 p-2 my-2 w-full overflow-scroll
  ;
}

.ql-tags-container {
  @apply w-full;

  ul {
    @apply pl-4;

    li {
      @apply list-disc;
    }
  }

  ol {
    @apply pl-5;

    li {
      @apply list-decimal;
    }
  }

  blockquote {
    @apply border-l-8 border-blue text-white text-base rounded-md pl-4 p-2 my-2 bg-soft-blue;
  }
}

.ql-size-large {
  @apply text-2xl;
}
